@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: white;
}

input::placeholder {
  color: #083f46;
  font-weight: 600;
}

input {
  font-weight: 600;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
